# DATA2001 Assignment 3
## Timeseries Data Analysis
### Jamie Katsamatsas s4674720
### <datehere>
    
Questions
    1. Can include other datasets with US dollar values or US GDP values and merge them into the dataset

#### Dataset Columns
- Date: Date of trades
- Open: Opening price, price of first trade of the day
- High: Highest price of all trades of the day
- Low: Lowest price of all trades of the day
- Close: Closing price, price of last trade before the end of day
- Volume: Total number of stocks traded during the day
- OpenInt: Open interest, the total number of outstanding derivative contracts, such as options or futures, that have not been settled for an asset at the end of day.

# Task 1 - Data Preparation
Read the dataset using the “pandas” library and set up the index in an appropriate way for timeseries analysis. Can you identify any useful side data or exogenous variables? If so, include them into your dataframe and handle/merge them in an appropriate way. Explain how you did it along with a justification for your choices.

In [1]:
import pandas as pd

In [2]:
amazon_data = pd.read_csv("amzn.us.csv")
amazon_data

            Date     Open     High      Low    Close    Volume  OpenInt
0     1997-05-16     1.97     1.98     1.71     1.73  14700000        0
1     1997-05-19     1.76     1.77     1.62     1.71   6106800        0
2     1997-05-20     1.73     1.75     1.64     1.64   5467200        0
3     1997-05-21     1.64     1.65     1.38     1.43  18853200        0
4     1997-05-22     1.44     1.45     1.31     1.40  11776800        0
...          ...      ...      ...      ...      ...       ...      ...
5148  2017-11-06  1109.15  1125.41  1108.77  1120.66   3331738        0
5149  2017-11-07  1124.74  1130.60  1117.50  1123.17   2684443        0
5150  2017-11-08  1122.82  1135.54  1119.11  1132.88   2576010        0
5151  2017-11-09  1125.96  1129.62  1115.77  1129.13   3729978        0
5152  2017-11-10  1126.10  1131.75  1124.06  1125.35   2179181        0

[5153 rows x 7 columns]

In [3]:
amazon_data = amazon_data.set_index(['Date'])

In [4]:
amazon_data.head()

            Open  High   Low  Close    Volume  OpenInt
Date
1997-05-16  1.97  1.98  1.71   1.73  14700000        0
1997-05-19  1.76  1.77  1.62   1.71   6106800        0
1997-05-20  1.73  1.75  1.64   1.64   5467200        0
1997-05-21  1.64  1.65  1.38   1.43  18853200        0
1997-05-22  1.44  1.45  1.31   1.40  11776800        0

In [5]:
# https://www.investopedia.com/terms/p/percentage-change.asp
amazon_data["Change"] = amazon_data["Close"] - amazon_data["Open"]
amazon_data["%Change"] = amazon_data["Change"] / amazon_data["Open"]
amazon_data

,Open,High,Low,Close,Volume,OpenInt,Change,%Change
Date,,,,,,,,
1997-05-16,1.97,1.98,1.71,1.73,14700000,0,-0.24,-0.121827
1997-05-19,1.76,1.77,1.62,1.71,6106800,0,-0.05,-0.028409
1997-05-20,1.73,1.75,1.64,1.64,5467200,0,-0.09,-0.052023
1997-05-21,1.64,1.65,1.38,1.43,18853200,0,-0.21,-0.128049
1997-05-22,1.44,1.45,1.31,1.40,11776800,0,-0.04,-0.027778
...,...,...,...,...,...,...,...,...
2017-11-06,1109.15,1125.41,1108.77,1120.66,3331738,0,11.51,0.010377
2017-11-07,1124.74,1130.60,1117.50,1123.17,2684443,0,-1.57,-0.001396
2017-11-08,1122.82,1135.54,1119.11,1132.88,2576010,0,10.06,0.008960
2017-11-09,1125.96,1129.62,1115.77,1129.13,3729978,0,3.17,0.002815
2017-11-10,1126.10,1131.75,1124.06,1125.35,2179181,0,-0.75,-0.000666

# Task 2 - Exploratory Data Analysis
Visualise the entire data set, and comment on the patterns you can observe with respect to the features discussed in the lectures. Include visualisations appropriate for uncertainty and correlation where appropriate.

# Task 3 - AMZN STR Decomposition
Focus now on the AMZN stock volume time series.

a) Split the data into training and testing series, selecting the testing series to be the last three months of the data.

b) Manually step through the STR decomposition process on the training data, as
described in the course material. Visualise and interpret each of the components of the STR decomposition for volume. (Hint: You may wish to validate the output of your manual process against an automated modelling approach.)

# Task 4 - Timeseries Models
a) Fit an ARIMA model for the trend-cycle component of your STR decomposition of the training data and interpret the estimated model parameters.

b) Using the STR components that you estimated in tasks 3 and 4, produce forecasts of AMZN stock volumes for the test data series. Include the uncertainty in the forecasts and visualise the predictions.

# Task 5 - Pure Forcasters
now consider your choice of ML techniques

a) Select an appropriate pure forecasting method to predict the trend component of the volume training data.

b) Using the seasonal component that you estimated in task 3 and the pure forecaster from 5.a, produce forecasts of AMZN stock volumes for the test data series. Include the uncertainty in the forecasts, and visualise the predictions.

# Task 6 - Model Evaluation
Evaluate the forecast performance of your model-based and pure forecasters using the test data and compare the two forecasters. Use appropriate evaluation metrics and methods. Discuss the similarities and difference between their performance and suggest possible avenues for improvement.